{% extends 'service/base.html' %}

{% block content %}

<div class="content">
    <ul class="list-articles">
        {% for f in files %}
        <li class="file">
            <div class="article-panel">
                <p class="first">Категорія: {{f.cat}}</p>
                {% if f.sub %}
                <p class="subject">Предмет: {{f.sub}}</p>
                {% else %}
                <p class="subject">Предмет: ---</p>
                {% endif %}
                {% autoescape on %}
                <div class="item">
                    <img src="{{ f.photo.url }}" height="100%" width="100%">
                </div>
                {% endautoescape %}
                <button type="button" class="button-buy-lab"><a href="#">Купити</a></button>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
