{% extends 'service/base.html' %}

{% block content %}

<div class="content">
    <ul class="list-articles">
        {% for f in files %}
        <li class="file">
            <div class="article-panel">
                <p class="first">Категорія: {{f.cat}}</p>
                {% if f.sub %}
                    <p class="subject">Предмет: {{f.sub}}</p>
                {% else %}
                    <p class="subject">Предмет: ---</p>
                {% endif %}
                {% autoescape on %}
                    <div class="item"><a href="{{ f.get_absolute_url }}">
                        {% if f.photo %}
                            <img src="{{ f.photo.url }}" height="100%" width="100%">
                        {% endif %}
                    </a>
                    </div>
                {% endautoescape %}
                {% if f.id in all_file %}
                    <form action="{% url 'cart:cart_add' f.id %}" method="post">
                        {% csrf_token %}
                            <button type="submit" class="button-buy-lab">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Купити
                            </button>
                    </form>
                {% else %}
                    <div class="button-buy-lab"><a href="{% url 'cart:cart_detail' %}">Додано в корзину</a></div>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
