{% extends 'service/base.html' %}

{% block content %}
<div class="content">
	<ul class="list-articles">
		{% for l in lab %}
				<li><div class="article-panel">
		<p class="first">Категорія: {{l.cat}}</p>
		<p>Предмет: {{l.sub}}</p>
		{% autoescape on %}
	    <div class="item">
	        <img src="{{ l.photo.url }}" width="300" height="400">
	    </div>
		{% endautoescape %}
				<button type="button" class="button-buy-lab"><a href="#">Купити</a></button>
				</div>
				</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}
