*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans';
}
body{
    background: #D3D3D3;
}
a{
    color:#fff;
    text-decoration: none;
}

.header{
    display: flex;
    text-align: left;
    padding: 10px;
    background: #454851;
    color: #fff;
    font-family: 'Arial';
    border-bottom: 5px solid rgba(0,0,0,.35);
    position: relative;
    min-width: 580px;
    background: rgba(0,0,0,.7);
}

.header__section{
    align-items: center;
}

.header__item{
    padding: 5px 10px;
    font-size: 18px;
    margin-left: 5px;
    transition: 0.3s;
}

.header__item headerButton right{
    text-align: right
}

.header .header__section .bi-cart3 {
    font-size: 18px;
}

.header .header__section .header__item button {
    position: relative;
}

.header .header__section .header__item button::before {
    content: attr(data-count);
    position: absolute;
    top: -0.75em;
    right: -0.75em;
    width: 1.3em;
    height: 1.3em;
    justify-content: center;
    align-item: center;
    border-radius: 50%;
    display: flex;
    background-color: red;
    color: white;
}

nav li{
    display: inline-block;
}
nav a{
    padding: 5px 10px;
    transition: 0.3s;
}

input[type="checkbox"] {
    display: none;
}
nav label {
    display: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
}
nav label:hover{
    background: rgba(0,0,0,.2);
    border-radius: 4px;
    text-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

@media screen and (max-width: 905px) {

    nav label{
         display: inline-block;
    }
    nav > ul {
        display: none;
    }
    input[type="checkbox"]:checked ~ label + ul {
        display: block;
    }

}

.user__name{
    font-size: 16px;
    color: black;
    background: rgba(0,0,0,.15);
    border-radius: 4px;
    padding: 3px;
}

.header__item:hover{
    background: rgba(0,0,0,.2);
    border-radius: 4px;
}
.headerLogo{
    font-weight: bold;
}

.headerButton{
    cursor: pointer;
}
.wrapper{
    display: flex;
    position: absolute;
}
.wrapper .sidebar{
    position: absolute;
    width: 200px;
    height: 80vh;
    padding: 30px 0;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border-radius: 15px;
    min-height: 460px;
    background: rgba(0,0,0,.7);
}

.wrapper .sidebar li{

}

.wrapper .sidebar li.selected{
    color: #0059b2;
}

.wrapper .sidebar h2{
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: 0.5s;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar h2:hover{
    color: #fff;
    text-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}
.wrapper .sidebar ul li{

    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    color:  #03e9f4;
    transition: 0.3s;
}

.wrapper .sidebar .select-cat a{
    padding: 15px;
}

.wrapper .sidebar .no-selected {
    padding: 15px;
}

.wrapper .sidebar ul li:hover{
    text-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

.wrapper .sidebar ul li a{
    color: #fff;
    display: block;
}

.wrapper .sidebar ul li a .bi{
    width: 25px;
}

.wrapper .sidebar ul li:hover{
    background: rgba(0,0,0,.2);
}

.wrapper .sidebar ul li:hover a{
    color: #fff;
}

.wrapper .sidebar .social_media{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.wrapper .sidebar .social_media a:hover{
    color: #03e9f4;
    text-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

.wrapper .sidebar .social_media a{
    display: block;
    width: 40px;
    background: rgba(0,0,0,.25);
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 10px;
    color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    transition: 0.5s;
}
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
@media screen and (max-width: 580px){
    .header .header__item {font-size: 15px; padding: 10px 9px;}
}

@media (min-width: 550px) {
    .wrapper .main_content .info{margin: 20px;}
}

.wrapper .main_content{
    width: 100%;
    margin-left: 200px;
}

.wrapper .main_content .header-content{
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{

    color: #717171;
    line-height: 25px;
}

.wrapper .main_content .info div{
    margin-bottom: 5px;
}


.content {
    font: 14px Verdana, Geneva, sans-serif;
    overflow: hidden;
    max-width: inherit;
}

.content .list-articles{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.content .list-articles .file{
    max-width: 100%;
    min-width: 242px;
    margin: 10px;
    margin-left: 20px;
}

@media (min-width: 300px) {
.content .list-articles {grid-template-columns: 1fr;}
}

@media (min-width: 780px) {
.content .list-articles {grid-template-columns: 1fr 1fr;}
}

@media (min-width: 1050px) {
.content .list-articles {grid-template-columns: 1fr 1fr 1fr;}
}

@media (min-width: 1320px) {
.content .list-articles {grid-template-columns: 1fr 1fr 1fr 1fr;}
}


.content .list-articles li{
    margin: 5px;
}

.content .list-articles .article-panel{
    padding: 10px;
    border: 1px solid #00af64;
}

.content .list-articles .article-panel:hover{
    background-color: rgba(0,0,0,.2);
}


.content .list-articles .file .article-panel .first{
    color: #000000;
    padding: 10px;
    text-align: center;
}

.content .list-articles .file .article-panel .subject{
    margin-bottom: 5px;
}

.content .list-articles .file .article-panel .item{
    overflow: hidden;
}

.content .list-articles .file .article-panel .item:hover img {
    transform: scale(0.9);
}

.content .list-articles .file .article-panel img{
    transition: transform 0.25s;
}

.content .list-articles .button-buy-lab{
    border: none;
    padding: 5px 12px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
}

.content .list-articles .button-buy-lab:hover{
    background-color: #24a319;
}

.block-filter{
    display: flex;
    flex-direction: column;
    width: 300px;
    max-width: 300px;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}

.block-filter .head {
    padding: 5px;
    display: block;
    max-width: 200px;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.cart a{
    color: black;
}

.cart_wrapper {
    margin: 20px;
    color: rgba(0,0,0,.7);
}

.cart_wrapper a {
    color: black;
}

.cart_wrapper h1 {
    text-align: center;
    margin-bottom: 35px;
}

.cart-detail {
    font-size: 16px;
    border-collapse: collapse;
    width: 100%;
}

.cart-detail td, th {
  border-radius: 5px;
  padding: 8px;
  text-align: center;
}

.cart-detail tr:hover {background-color: rgba(0,0,0,.2);}

.cart-detail th {
  padding-top: 12px;
  padding-bottom: 12px;
  background: rgba(0,0,0,.7);
  color: white;
  text-align: center;
}

.cart-detail .total td {
    background: rgba(0,0,0,.7);
}

.cart-detail .remove{
    background-color: #d9534f;
    border-color: #d9534f;
    display: inline-block;
    line-height: 1.25;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: 0.3s;
}

.cart-detail .remove:hover{
    background-color: #E50000;
    border-color: #E50000;
}

.delete-item{
    color: #fff;
}

.total {
    color: #fff;
    font-weight: bold;
}

.cart-btn {
    border: none;
    padding: 12px 12px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: rgba(0,0,0,.4);
    border-radius: 5px;
    transition: 0.3s;
}

.cart-btn:hover{
    background-color: rgba(0,0,0,.7);
}

.text-right {
    margin-top: 20px;
    margin-right: -2px;
    text-align: right;
}

.text-right .button {
    color: #fff;
}

.checkout {
    background-color: #4CAF50;
}

.checkout:hover{
    background-color: #24a319;
}
.file-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.file-box .box-1 {
    margin-right: 30px;
}

.file-box .box-2 h3 {
    color: black;
    letter-spacing: 3px;
    transition: 0.5s;
    margin-bottom: 30px;
}

.file-box .box-2 .price{
    color: black;
    margin-bottom: 50px;
}

.file-box button {
    color: #090909;
    padding: 0.6em 1.5em;
    font-size: 16px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #03e9f4;,
                -6px -6px 12px #fff;
}

.file-box button:hover {
    box-shadow: -6px -6px 12px #03e9f4;,
                6px 6px 12px #fff;
}

.file-box .file-cart_detail {
    color: black;
}

.file-box .iframe_file {
    border: 5px solid;
    border-radius: 5px;
}